{
  "telegram": {
    "token": "XXXXXXxxxxxxxxXxXXXXXX",
    "proxy": "socks5://127.0.0.1:8888"
  },
  "database": {
    "dbname": "gifer_db",
    "host": "localhost",
    "username": "db_user",
    "password": "dbpass"
  }
}
